body {
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #fad3d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    
  }
  
  .left-side {
    flex: 1;
    background-color: #fad3d0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .right-side {
    flex: 2;
    background-color: #1a1c43; 
    padding: 1rem;
    align-items: center;
    flex-direction: column;
  }


  #todo-button {
    background-color: #c33860;
    border : none;
    border-radius: 35px;;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-left: auto;
    width: 420px;
    padding: 12px 24px; 
    transition: background-color 0.2s ease;
  }
  
  #todo-button:hover {
    background-color: #e0819c;
  }
  
  

.timer-circle {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 10%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
}

.start {
  background-color: #2a2d60;
  color: white;
}

.reset {
  background-color: #eee;
  color: #333;
}



 
